:root {
    --fs-sm: 18px;
    --fs-md: 20px;
    --fs-lg: 22px;
}

body {
    font-size: var(--fs-md);
    line-height: 1.2;
    text-underline-offset: 4px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
}

h1 {
    font-size: 100px;
}

h2 {
    font-size: 40px;
}

.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;

    padding: 92px 50px 96px;

    font-size: var(--fs-sm);
}

.header__logo {
    display: block;
    width: 129.11px;
}

.header__logo-image {
    vertical-align: middle;
}

.header__contacts {
    justify-self: end;
    max-width: 240px;
}

.header__links-list {
    display: flex;
    flex-direction: row;
    gap: 30px;

    list-style-type: circle;
}

.header__links-list-item_no-bullit {
    list-style-type: none;
}

.cover {
    background-image: url("../images/cover.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    color: white;
}

.cover__wrapper {
    padding: 165px 50px 50px;
}

.cover__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    line-height: 1.15;
    letter-spacing: 0.3em;
}

.cover__title span:first-child {
    align-self: self-start;
}

.cover__title span:last-child {
    align-self: self-end;
}

.cover__description {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 106px;

    font-size: var(--fs-lg);
}

.cover__subline {
    word-spacing: 0.8em;;
}

.cover__button {
    background-color: transparent;
    color: inherit;
    text-transform: inherit;
    border: 1px, solid white;
    width: 256px;
    height: 51px;
}

.lots {
    margin: 180px 24px 120px;
}

.lots__title {
    margin-left: 40px;
}

.lots__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 24px;

    margin: 27px 0 30px;

    list-style-type: none;
}

.lots__list-link {
    text-decoration: none;
}

.lot-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    position: relative;
    z-index: 0;

    width: 334px;
    min-height: 596px;
    padding: 48px 40px;

    color: white;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.lot-card_film {
    background-image: url("../images/card-lot-01.jpg");
}

.lot-card_book {
    background-image: url("../images/card-lot-02.jpg");
}

.lot-card_picture {
    background-image: url("../images/card-lot-03.jpg");
}

.lot-card__overlay {
    position: absolute;
    inset: 0;
    z-index: -1;
}

.lot-card__title {
    font-size: var(--fs-lg);
    text-decoration: underline;
}

.lots__look-more {
    margin-left: 40px;
}

.about {
    display: grid;
    grid-template-columns: 334px auto;
    margin: 120px 25px 180px;
}

.about__content {
    padding-left: 25px;
}

.about__title {
    margin: 136px 0 97px;
}

.about__text {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.about__logo {
    justify-self: center;

    margin-top: 35px;
}

.footer {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;

    margin: 0 50px 82px;

    font-size: var(--fs-sm);
}

.footer__contacts {
    max-width: 264.57px;
}

.footer__nav {
    min-width: 163.9px;
}

.footer__nav-list {
    list-style-type: none;
    text-align: center;
}

.footer__socials-list {
    display: flex;
    justify-content: space-between;
    gap: 48px;
    align-items: start;

    max-width: 240px;
    justify-self: end;

    list-style-type: none;
}